<h2>EMPRESAS</h2>
<hr>
<div class="row">
  <div class="col-xl-7">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Buscar</mat-label>
      <input matInput [(ngModel)]="filterValue" (input)="applyFilter()" placeholder="Buscar" />
    </mat-form-field>
  </div>
  <div class="full-width col-xl-3">
    <app-estado-select (stateSelected)="onSelectChange($event)"></app-estado-select>
  </div>
  <div class="col-xl-2 text-end" *ngIf="crearEmpresa">
    <button mat-raised-button color="primary" matTooltip="Nuevo" (click)="isNew = true; openNewEmpresaModal()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      Nuevo
    </button>
  </div>
</div>

<div style="display: none;" *matCellDef="let viewEmpresa">
  <app-edit-empresa-modal [IsNew]="isNew" [idEmpresa]="idEmpresa">
  </app-edit-empresa-modal>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive-table" matSort matPaginator *ngIf="visualizarEmpresa">

  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef> Logo </th>
    <td mat-cell *matCellDef="let viewEmpresa">
      <img mat-card-sm-image style="width: 70px;" src="{{this.commonService.isValidImageUrl(viewEmpresa.logo)}}">
    </td>
  </ng-container>

  <ng-container matColumnDef="RUC">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> RUC </th>
    <td mat-cell *matCellDef="let viewEmpresa"> {{viewEmpresa.RUC}} </td>
  </ng-container>

  <ng-container matColumnDef="razon_social">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Razón Social </th>
    <td mat-cell *matCellDef="let viewEmpresa"> {{viewEmpresa.razon_social}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_comercial">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Comercial </th>
    <td mat-cell *matCellDef="let viewEmpresa"> {{viewEmpresa.nombre_comercial}} </td>
  </ng-container>

  <ng-container matColumnDef="funciones">
    <th mat-header-cell *matHeaderCellDef> Funciones </th>
    <td mat-cell *matCellDef="let viewEmpresa" class="button-row">
      <button mat-icon-button *ngIf="editarEmpresa && selected === '1'" color="primary" matTooltip="Editar"
        (click)="isNew = false; idEmpresa = viewEmpresa.id; openNewEmpresaModal()">
        <mat-icon fontIcon="edit"></mat-icon>
      </button>

      <button mat-icon-button *ngIf="cambiarEstadoEmpresa && selected === '1' " color="warn" matTooltip="Deshabilitar"
        (click)="toggleBusinessStatusById(viewEmpresa, false)">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>

      <button mat-icon-button *ngIf="cambiarEstadoEmpresa && selected ==='0'" class="btn_success" matTooltip="Habilitar"
        (click)="toggleBusinessStatusById(viewEmpresa, true)">
        <mat-icon fontIcon="done"></mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

<app-spinner [loading]="loading"></app-spinner>