<mat-form-field [ngClass]="classes" style="width: 100%;">
    <mat-label>Tipo Seguridad SMTP</mat-label>
    <mat-select [(ngModel)]="selectedSecurityType" 
                (ngModelChange)="onSecurityTypeChange()"
                placeholder="Tipo Seguridad SMTP"
                name="tipoSeguridadSMTP" 
                [required]="required">
        <mat-option *ngFor="let type of securityTypes" [value]="type.name">
            {{ type.value }}
        </mat-option>
    </mat-select>
</mat-form-field>


