<mat-card-header style="justify-content: center;">
    <mat-card-title>Registro</mat-card-title>
    <mat-card-subtitle>Ingresa sus datos para registrar su cuenta</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="registroForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <!-- Campos del formulario -->
    <mat-form-field style="width: 75%;">
        <mat-label>Cédula</mat-label>
      <input matInput placeholder="Cédula" formControlName="cedula">
    </mat-form-field>
  
    <mat-form-field style="width: 75%;">
        <mat-label>Nombre de Usuario</mat-label>
      <input matInput placeholder="Nombre de Usuario" formControlName="nombreUsuario">
    </mat-form-field>
  
    <mat-form-field style="width: 75%;">
        <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  
    <mat-form-field style="width: 75%;">
        <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Contraseña" type="password" formControlName="contrasena">
      <mat-hint>Contiene número, mayúscula, minúscula y carácter especial</mat-hint>
    </mat-form-field>
  
    <mat-form-field style="width: 75%;">
        <mat-label>Repetir Contraseña</mat-label>
      <input matInput placeholder="Repetir Contraseña" type="password" formControlName="repetirContrasena">
    </mat-form-field>
  
    <mat-checkbox formControlName="aceptacionConsentimiento">
      
      <button mat-button (click)="mostrarClausulas()" matTooltip="Mostrar Cláusulas">Acepto Términos y Condiciones</button>
    </mat-checkbox>
  
    <!-- Botón para mostrar cláusulas -->
  
    <!-- Botón de envío -->
    <button mat-raised-button type="submit" color="primary">Registrarse</button>
  </form>

<div *ngIf="_loading" class="d-flex justify-content-center align-items-center">
    <mat-spinner class="example-margin" color="primary" mode="indeterminate" diameter="30">
    </mat-spinner>
    <h5>
        Procesando...
    </h5>
</div>
<p class="mt-1">¿Ya tienes cuenta? <a mat-flat-button
    href="./auth/login">Iniciar Sesión</a></p>
  
  <a mat-flat-button
  href="./auth/forgotpassword">¿Olvidaste la contraseña?</a>