<div class="row">
  <div class="col-xl-12">
    <h2>USUARIOS</h2>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col-xl-8">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="filterValue" (input)="applyFilter()" placeholder="Buscar" />
      </mat-form-field>
    </div>
    <div class="col-xl-2">
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onSelectChange($event)">
          <mat-option value="1">Activo</mat-option>
          <mat-option value="0">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-2 text-end" *ngIf="crearUsuario">
      <button mat-raised-button color="primary" matTooltip="Nuevo" (click)="isNew = true; openNewUserModal()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        Nuevo
      </button>
      <div style="display: none;" *matCellDef="let viewEmpresa">
        <app-edit-empresa-modal [IsNew]="isNew" [idEmpresa]="idEmpresa"
          (empresaGuardada)="guardarUsuario($event)"></app-edit-empresa-modal>
      </div>
    </div>
  </div>

</div>

<table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8 responsive-table">

  <ng-container matColumnDef="NombreUsuario">
    <th mat-header-cell *matHeaderCellDef> Nombre Usuario </th>
    <td mat-cell *matCellDef="let viewUsuario"> {{viewUsuario.NombreUsuario}} </td>
  </ng-container>

  <ng-container matColumnDef="Rol">
    <th mat-header-cell *matHeaderCellDef> Rol </th>
    <td mat-cell *matCellDef="let viewUsuario"> {{viewUsuario.Rol}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let viewUsuario"> {{viewUsuario.email}} </td>
  </ng-container>

  <ng-container matColumnDef="funciones">
    <th mat-header-cell *matHeaderCellDef> Funciones </th>
    <td mat-cell *matCellDef="let viewUsuario" class="button-row">
      <button mat-mini-fab *ngIf="visualizarUsuario" color="primary" matTooltip="Ver">
        <mat-icon fontIcon="visibility"></mat-icon>
      </button>
      <button mat-mini-fab *ngIf="editarUsuario" color="accent" matTooltip="Editar"
        (click)="isNew = false; idEmpresa = viewUsuario.id; openNewUserModal()">
        <mat-icon fontIcon="edit"></mat-icon>
      </button>

      <button mat-mini-fab *ngIf="cambiarEstadoUsuario && selected === '1' " color="warn" matTooltip="Deshabilitar"
        (click)="toggleUserStatusById(viewUsuario.id, false)">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>

      <button mat-mini-fab *ngIf="cambiarEstadoUsuario && selected ==='0'" class="btn_success" matTooltip="Habilitar"
        (click)="toggleUserStatusById(viewUsuario.id, true)">
        <mat-icon fontIcon="done"></mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>