.activo {
    background-color: green;
  }
  
  .inactivo {
    background-color: red;
  }
  
  .responsive-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .button-row button,
  .button-row a {
    margin-right: 0;
  }
  
  .btn_success {
  /* background-color: #078503; */
  color: #078503;
  }
  
  @media (max-width: 600px) {
  .responsive-table {
    display: block;
  }
  }