<div class="p-xl-3 p-1" style="height: 80vh;">
    <form (ngSubmit)="onSaveClick()" #empresaForm="ngForm" autocomplete="off">
        <mat-dialog-content class="row">
            <h2><mat-icon>{{ IsNew ? 'storefront' : 'edit' }}</mat-icon>
                {{ IsNew ? 'Nueva Empresa' : 'Editar Empresa - ' + empresa.NombreComercial }}</h2>
            <div class="row">
                <div class="col-xl-6 col-12">
                    <!-- RUC -->
                    <mat-form-field class="col-12">
                        <mat-label>RUC</mat-label>
                        <input matInput placeholder="RUC" name="ruc" disabled="{{!IsNew}}" 
                        [(ngModel)]="empresa.RUC"
                            required maxlength="20">
                    </mat-form-field>
                    <!-- RAZON SOCIAL -->
                    <mat-form-field class="col-12">
                        <mat-label>Razón Social</mat-label>
                        <input matInput placeholder="Razón Social" name="razonSocial" 
                        disabled="{{!IsNew}}"
                            [(ngModel)]="empresa.RazonSocial" required maxlength="100">
                    </mat-form-field>
                    <!-- NOMBRE COMERCIAL -->
                    <mat-form-field class="col-12">
                        <mat-label>Nombre Comercial</mat-label>
                        <input matInput placeholder="Nombre Comercial" name="nombreComercial"
                            [(ngModel)]="empresa.NombreComercial" required maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-12">
                    <!-- LOGO -->
                    <div class="col-12 text-center" style="height: 157px;">
                        <img mat-card-sm-image style="height: 100%;"
                            [src]="commonService.isValidImageUrl(empresa.Logo)">
                    </div>
                    <div class="row">
                        <mat-form-field class="col-11">
                            <mat-label>Logo</mat-label>
                            <input matInput placeholder="Logo" [(ngModel)]="empresa.Logo" name="logo">
                            <mat-hint>Ingrese url de la imagen (jpeg, jpg, gif, png, bmp) </mat-hint>
                        </mat-form-field>
                        <div class="col-1">
                            <button mat-icon-button type="button" matTooltip="Eliminar url de logo"
                                (click)="onDeleteLogoClick()">
                                <mat-icon fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Puede enviar correos que emite? -->
            <mat-checkbox class="col-xl-6 col-12" [(ngModel)]="empresa.PuedeEnviarCorreo" name="puedeEnviarCorreos"
                (change)="onCheckboxChange('puedeEnviarCorreos', $event.checked)">¿Puede enviar correos que
                emite?</mat-checkbox>
            <!-- Usar configuración SMTP del aplicativo -->
            <mat-checkbox class="col-xl-6 col-12" [(ngModel)]="empresa.UsaConfiguracionSMTP"
                name="usarConfiguracionSMTP" (change)="onCheckboxChange('usarConfiguracionSMTP', $event.checked)">Usar
                configuración SMTP del aplicativo</mat-checkbox>
            <div *ngIf="empresa.PuedeEnviarCorreo" class="row">
                <!-- EMAIL PARA ENVIO -->
                <mat-form-field class="full-width col-xl-6 col-12">
                    <mat-label>Email para Envío</mat-label>
                    <input matInput placeholder="Email para Envío" name="emailParaEnvio" [(ngModel)]="empresa.Email"
                        [required]="empresa.PuedeEnviarCorreo && empresa.UsaConfiguracionSMTP" maxlength="100">
                </mat-form-field>
                <!-- SERVIDOR SMTP -->
                <mat-form-field class="full-width col-xl-6 col-12">
                    <mat-label>Servidor SMTP</mat-label>
                    <input matInput placeholder="Servidor SMTP" name="servidorSMTP" [(ngModel)]="empresa.Servidor"
                        [required]="empresa.PuedeEnviarCorreo && empresa.UsaConfiguracionSMTP" maxlength="50">
                </mat-form-field>
                <!-- PUERTO SMTP -->
                <mat-form-field class="full-width col-xl-6 col-12">
                    <mat-label>Puerto SMTP</mat-label>
                    <input matInput placeholder="Puerto SMTP" name="puertoSMTP" [(ngModel)]="empresa.Puerto"
                        [required]="empresa.PuedeEnviarCorreo && empresa.UsaConfiguracionSMTP" maxlength="8"
                        pattern="[0-9]+">
                </mat-form-field>
                <!-- TIPO SEGURIDAD SMTP -->
                <div class="full-width col-xl-6 col-12">
                    <app-smtpsecurity-type-select [required]="empresa.PuedeEnviarCorreo && empresa.UsaConfiguracionSMTP"
                        (securityTypeSelected)="onSecurityTypeSelected($event)" [preselectedType]="empresa.TipoSeguridad"></app-smtpsecurity-type-select>
                </div>
                <!-- USUARIO SMTP -->
                <mat-form-field class="full-width col-xl-6 col-12">
                    <mat-label>Usuario SMTP</mat-label>
                    <input matInput placeholder="Usuario SMTP" name="usuarioSMTP" [(ngModel)]="empresa.UsuarioSMTP"
                        [required]="empresa.PuedeEnviarCorreo && empresa.UsaConfiguracionSMTP" maxlength="100">
                </mat-form-field>
                <!-- CONTRASEÑA USUARIO SMTP -->
                <mat-form-field class="full-width col-xl-6 col-12">
                    <mat-label>Contraseña Usuario SMTP</mat-label>
                    <input matInput type="password" placeholder="Contraseña Usuario SMTP" name="contrasenaUsuarioSMTP"
                        [(ngModel)]="empresa.PasswordSMTP"
                        [required]="empresa.PuedeEnviarCorreo && empresa.UsaConfiguracionSMTP" maxlength="50">
                </mat-form-field>
            </div>
            <!-- API KEY -->
            <mat-form-field class="col-xl-9 col-12">
                <mat-label>API Key</mat-label>
                <input matInput placeholder="API Key" name="apiKey" [readonly]="true" [(ngModel)]="empresa.APIKey"
                    required maxlength="100">
            </mat-form-field>
            <button mat-raised-button type="button" (click)="onGenerarApiKeyClick()" color="primary"
                matTooltip="Generar API Key" class="col-xl-3 col-12">
                <mat-icon>key</mat-icon>
                Generar APIKey
            </button>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="empresaForm.invalid"
                    [mat-dialog-close]="true">Guardar</button>
                <button mat-raised-button type="button" color="accent" mat-dialog-close>Cancelar</button>
            </div>
        </mat-dialog-actions>
    </form>
</div>

<app-spinner [loading]="loading"></app-spinner>