/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: Poppins, Helvetica, sans-serif;
}

.main-content {
  padding: 0 ! important;
  margin: 0;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f23a2f;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #43a446;
  }
}

.activo {
  background-color: green;
}

.inactivo {
  background-color: red;
}

.responsive-table {
  width: 100%;
  overflow-x: auto;
}

.button-row button,
.button-row a {
  margin-right: 5px;
}

.btn_success {
background-color: #078503;
color: white;
}

@media (max-width: 600px) {
.responsive-table {
  display: block;
}
}