<mat-card-header style="justify-content: center;">
  <mat-card-title>Recuperar Contraseña</mat-card-title>
  <mat-card-subtitle>Ingresa sus datos para recuperar su contraseña</mat-card-subtitle>
</mat-card-header>
<form [formGroup]="registroForm" autocomplete="off" (ngSubmit)="onSubmit()">

  <div class="d-flex flex-column align-items-center">

   
      <!-- Campos del formulario -->
      <mat-form-field style="width: 75%;" class="mt-3">
        <mat-label>Cédula, RUC o Usuario</mat-label>
        <input matInput placeholder="Cédula" formControlName="cedula">
    </mat-form-field>


      <!-- Botón de envío -->
      <button mat-raised-button type="submit" color="primary" class="my-2">  Enviar
      </button>

  </div>
</form>

<div *ngIf="_loading" class="d-flex justify-content-center align-items-center">
  <mat-spinner class="example-margin" color="primary" mode="indeterminate" diameter="30">
  </mat-spinner>
  <h5>
    Procesando...
  </h5>
</div>
<p class="mt-1">¿Ya tienes cuenta? <a mat-flat-button 
  href="./auth/login">Iniciar Sesión</a></p>

<p class="mt-1">¿No tienes cuenta? <a mat-flat-button
  href="./auth/register">Registrarse</a></p>