<mat-form-field [ngClass]="classes" appearance="fill" style="width: 100%;">
    <mat-label>Tipo de Documento</mat-label>
    <mat-select [(ngModel)]="selectedDocumentType" 
                (ngModelChange)="onDocumentTypeChange()"
                placeholder="Tipo de Documento"
                name="documentType" 
                [required]="required">
        <mat-option *ngFor="let type of documentTypes" [value]="type.value">
            {{ type.value }}
        </mat-option>
    </mat-select>
</mat-form-field>
